<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" {% if page.page_id %}class="{{ page.page_id }}{% endif %}">
    {% include browser-upgrade.html %}

    <a href="#navigation" class="icon-menu" title="Jump to Navigation"></a>
    {% if page.page_id == 'home' %}{% include header.html %}{% endif %}

    <div id="site">
      <main>
        {{ content }}
      </main>

      <aside>
          {% if page.page_id != 'home' %}
          <a href="/"><img src="/assets/app/images/logo.svg" alt="" /></a>
          {% endif %}
        <ul id="navigation">
          {% for page in site.static_pages %}
          <li>
            <a href="{{ page.url }}">{{ page.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <h3>Contributors</h3>
        <ul id="contributors">
          {% for author in  site.contributors %}
          <li>
            <a href="http://twitter.com/{{ author[1].twitter }}">{{ author[1].name }}</a>
          </li>
          {% endfor %}
        </ul>
      </aside>
    </div>

    {% include footer.html %}
    {% if site.google_analytics %}{% include ga.html %}{% endif %}
  </body>
</html>