---
layout: base
---

{% for post in paginator.posts %}
{% capture difference %}{{ post.title | size | minus:28 }}{% endcapture %}
<article{% if post.source %} data-source="{{ post.source }}"{% endif %}{% if difference contains '-' %} class="short"{% endif %}>

	<header>
		<time class="meta" datetime="{{ post.date | date_to_xmlschema }}">
			{{ post.date | date: "%B %d, %Y" }}
		</time>

		{% if post.link %}
		<h2>
			<a href="{{ post.link }}">{{ post.title }}</a>
		</h2>
		{% else %}
		<h2>
			<a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
		</h2>
		{% endif %}

		<div class="meta">
		{% if post.author %}{% assign author = site.contributors[post.author] %}
			by {{ author.name }}
			{% unless post.source %}{% if author.gravatar %}<img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=200" width="100" height="100" class="gravatar">{% endif %}{% endunless %}
		{% endif %}

		{% if site.disqus_shortname and post.comments %}
			&nbsp; &bull; &nbsp;<span class="entry-comments"><a href="{{ site.url }}{{ post.url }}#disqus_thread">Comment</a></span>{% endif %}
			{% if post.link %}<a href="{{ site.url }}{{ post.url }}" class="icon-link" rel="bookmark">Bookmark</a>
		{% endif %}
		</div>
	</header>

	{{ post.description }}

</article>
{% endfor %}

<div class="pagination">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a class="previous" href="{{ site.url }}">Previous</a>
		{% else %}
			<a class="previous" href="{{ site.url }}/page{{ paginator.previous_page }}">Previous</a>
		{% endif %}
	{% else %}
		<span class="previous disabled">Previous</span>
	{% endif %}
	<ul>
		<li>
			{% if paginator.page == 1 %}
				<span class="current disabled">1</span>
			{% else %}
				<a href="{{ site.url }}">1</a>
			{% endif %}
		</li>
		{% for count in (2..paginator.total_pages) %}
			<li>
				{% if count == paginator.page %}
					<span class="current">{{ count }}</span>
				{% else %}
					<a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% if paginator.next_page %}
		<a class="next" href="{{ site.url }}/page{{ paginator.next_page }}">Next</a>
	{% else %}
		<span class="next disabled">Next</span>
	{% endif %}

</div>